<div class="dogs-list">
    <Dogs::Filter @dogs={{@dogs}} @query={{@query}} as |results|>
        {{#each results as |singleDog|}}
            <div class="single-dog">
                <Dog @dog={{singleDog}}/>
            </div> 
        {{/each}}
    </Dogs::Filter>
</div>
