<div class="jumbo">
  <div class="right tomster"></div>
  <LinkTo @route="index" class="button">Back</LinkTo>
  <h2>Edit a dog</h2>
  <button class="button" type="button" {{on "click" (fn this.delete @model.name)}}>Delete</button>
  <Dog::Detailed @dog={{@model}} />
</div>